:root{
    --couleur-principale:#f4f8f7;
    --couleur-light:#98a7af;
    --couleur-dark:#d7a04a;
}
.navbar{
    background-color: var(--couleur-dark);
}

footer{
    background-color: var(--couleur-light);
    padding-top: 30px;
   
    
}
.link{
    padding-top: 100px;
}
body{
    background-color: var(--couleur-principale);
}

.bg-1{
   background-color: var(--couleur-light);

}

.bg-2{
    background-color: var(--couleur-principale)
    
}
.bg-3{
    background-color: var(--couleur-light)
    
}

.myp{
    font-size: 1.3em;
}

.myh1{
    color:black;
}
.myh2{
    color: var(--couleur-principale);
}