:root{
    --couleur-principale:#f4f8f7;
    --couleur-light:#98a7af;
    --couleur-dark:#d7a04a;
}
.navbar{
    background-color: var(--couleur-dark);
}

footer{
    background-color: var(--couleur-light);
    padding-top: 30px;
   
    
}
.link{
    padding-top: 100px;
}
.card{
    height:660px;
    width: 660px;
}